* {
    margin: 0;
    margin: 0;
}
h1 {
    color:blue;
    background-color: chartreuse;
}
h2 {
    color: red;
    background-color: aqua;
}
h3 {
    color: greenyellow;
}
footer {
    text-align: center;
    background-color: blueviolet;
    color:bisque;
}